/* .danger {
    color: red;
    font-size: 10px;
    display: flex;
    justify-content: center;
  }
  
  .danger {
    border: 2px solid red;
    display: flex;
    justify-content: center;
  } */

.container {
  background-color:rgba(255, 255, 255, 0.897);
  width: 500px;    
  border-radius: 8px;
  margin: 50px;
  justify-content: center;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0,0,0,0.5);
  align-content: center;
  padding-bottom: 20px;
  font-family: 'IBM Plex Sans', sans-serif;
  padding: 40px;
  margin-left: 34%;
  
}

.container label {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  margin-right: 5%;
}
.container input {
  width: 150px;
  margin-left: 5px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.container button {
  margin-top: 20px;
}

.container select {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color:rgba(255, 255, 255, 0.897);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0,0,0,0.5);
}

.check{
  display: flex;
  flex-direction: row;
  width: 400px;
  height: auto;
  margin-top: 7px;
  margin-bottom: 7px;
  /* justify-content: center;
  align-items: center;
  margin-left: 80%;
  margin-right: 80%; */


}

.delete {
  display: flex;
  justify-content: center;
  align-content: center;

}

.x{
    /* float:inline-start; */
    border: none;
    background-color:  rgba(255, 0, 0, 0.736);
    color: white;
    justify-content: center;
}
.country {
  display: flex;

}
.temporada{
  display: flex;
  justify-content: center;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  margin-right: 40%;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-right: 148px;
}