/* body {
    height: 50px;
} */
.bodyy {
    background-color: black;
    height: 70vh;
    padding-bottom: 20%;
}

.title {
    font-family: 'IBM Plex Sans', sans-serif;
    /* background-color:rgba(255, 255, 255, 0.897); */
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0,0,0,0.5); */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 20px;
    /* margin-top: 50px; */

}

.image{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 40%;
    /* height: auto; */
    margin-left: 30%;
    /* margin-top: 5%; */
}

@media screen and (max-width: 686px) {
    .body{
        height: 100%;
        padding-bottom: 100%;
        width: 100%;
    }
 }