.title {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color:rgba(255, 255, 255, 0.897);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0,0,0,0.5);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 20px;
    margin-top: 50px;

}
.boton {
    font-family: 'IBM Plex Sans', sans-serif;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.897);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0,0,0,0.5);
    color: black;
    margin: 20%;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    align-content: center;
}