/* .container {
    width: 20%;
    height: auto;
    margin: 50px;
} */
.container {       
    
    background-color:#e9c56a3c;
    width: 250px;    
    border-radius: 8px;
    margin: 50px;
    justify-content: center;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.container:hover{
    background-color: #e9c56a3c;
    box-shadow: none; 
    size: larger;   
}

img {
    max-width: 90%;
    height: auto;
}